@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");


*{
    font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-medium-detail: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --body-medium-detail-size: 16px;
  --body-text-medium-normal-title-card-size: 20px;
  --body-extrasmall-notif-info-size: 12px;
  --body-small-detail-barang-info-size: 14px;
  --heading-large-title-content-size: 30px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl-2: 32.2px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-gray-100: #fffffe;
  --ligt: #fdfdff;
  --font-neutral: #202122;
  --color-gray-200: #05170a;
  --neutral-100: #fff;
  --color-slategray-100: #6d7588;
  --color-slategray-200: #6f6c90;
  --color-neutral-color-5: #6a6b6c;
  --neutral-400: #d9dbe9;
  --secondary-colors-color-2: #f2f1ff;
  --neutral-300: #eff0f7;
  --color-neutral-color-6: #454647;
  --color-neutral-color-2: #efefef;
  --color-green-color: #3e8c55;
  --primary-color: #177533;
  --color-neutral-color-3: #b5b5b5;
  --color-mediumseagreen-100: #3d9c59;
  --color-mediumseagreen-200: rgba(61, 156, 89, 0.09);

  /* Gaps */
  --gap-89xl-8: 108.8px;
  --gap-8xl: 27px;
  --gap-35xl: 54px;
  --gap-5xl-1: 24.1px;
  --gap-xl: 20px;
  --gap-54xl: 73px;
  --gap-17xl: 36px;
  --gap-19xl: 38px;
  --gap-2xl: 21px;
  --gap-5xs: 8px;
  --gap-8xs: 5px;
  --gap-9xs: 4px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-3xl: 22px;
  --gap-29xl: 48px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-mid-2: 17.2px;
  --gap-4xs-6: 8.6px;
  --gap-6xs-6: 6.6px;
  --gap-7xs-1: 5.1px;
  --gap-2xs-9: 10.9px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-11xl-1: 30.1px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-4xs-1: 8.1px;
  --padding-3xs: 10px;
  --padding-7xl: 26px;
  --padding-11xs: 2px;
  --padding-2xs-2: 10.2px;
  --padding-29xl: 48px;
  --padding-30xl: 49px;
  --padding-12xl: 31px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-21xl: 40px;
  --padding-12xs-1: 0.1px;
  --padding-10xl: 29px;
  --padding-42xl: 61px;
  --padding-11xl: 30px;
  --padding-12xs-5: 0.5px;
  --padding-11xs-4: 1.4px;
  --padding-5xs-6: 7.6px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-8xl: 27px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-384xl: 403px;
  --padding-sm: 14px;
  --padding-182xl: 201px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-3xs: 10px;
}

/* Navbar */
.logo-icon {
  align-self: stretch;
  width: 106.2px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
  cursor: pointer;
}

.button1 {
  position: relative;
  font-size: var(--body-medium-detail-size);
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  font-family: var(--body-medium-detail);
  color: var(--primary-color);
  text-align: center;
  display: inline-block;
  min-width: 49px;
}
.button {
  cursor: pointer;
  border: 1px solid var(--primary-color);
  padding: var(--padding-7xs) var(--padding-5xl);
  background-color: transparent;
  width: 100px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-mediumseagreen-200);
  border: 1px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.button3 {
  position: relative;
  font-size: var(--body-medium-detail-size);
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  font-family: var(--body-medium-detail);
  color: var(--ligt);
  text-align: center;
  display: inline-block;
  min-width: 46px;
}
.button-parent,
.button2,
.logo-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-8xl);
  background-color: var(--primary-color);
  border-radius: var(--br-5xs);
  justify-content: center;
}
.button2:hover {
  background-color: var(--color-mediumseagreen-100);
}
.button-parent,
.logo-parent {
  justify-content: space-between;
}
.button-parent {
  width: 215px;
}
.logo-parent {
  margin: 0;
  align-self: stretch;
  gap: var(--gap-xl);
  max-width: 100%;
}


/* HEADER */
.group-icon {
  position: absolute;
  height: 33.73%;
  width: 26.24%;
  top: 74.72%;
  right: 40.4%;
  bottom: -8.45%;
  left: 33.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.mask-group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group-icon1 {
  position: absolute;
  top: 111.5px;
  left: 94.9px;
  width: 152.4px;
  height: 114.9px;
  z-index: 1;
}
.mask-group-parent {
  position: absolute;
  top: -12.9px;
  left: 651.4px;
  width: 788.6px;
  height: 522.7px;
}
.logo-icon1 {
  width: 113.8px;
  height: 42.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.berkontribusi-pada {
  font-weight: 300;
}
.lingkungan {
  font-weight: 500;
}
.berkontribusi-pada-lingkungan-container {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
}
.frame-item {
  height: 42.9px;
  width: 43px;
  position: relative;
}
.dan {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 300;
  display: inline-block;
  min-width: 54px;
}
.berkontribusi-pada-lingkungan-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8.6px;
  max-width: 100%;
  flex-shrink: 0;
}
.menghemat-biaya {
  font-weight: 500;
}
.dengan {
  font-weight: 300;
}
.menghemat-biaya-dengan-container {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
  display: inline-block;
  max-width: 100%;
}
.frame-inner {
  height: 42.9px;
  width: 43px;
  position: relative;
}
.barang-bekas {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
}
.menghemat-biaya-dengan-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: 5.1px;
  flex-shrink: 0;
  max-width: 100%;
}
.berkualitas {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
}
.frame-icon {
  height: 42.9px;
  width: 43px;
  position: relative;
  min-height: 43px;
}
.berkualitas-parent,
.frame-group,
.logo-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.berkualitas-parent {
  flex-direction: row;
  padding: 0 20px 0 0;
  gap: 6.6px;
}
.frame-group,
.logo-group {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-group {
  padding: 0;
  gap: 8.6px;
  flex-shrink: 0;
}
.logo-group {
  position: absolute;
  top: 42.9px;
  left: 54.1px;
  padding: 0 0 0.1px;
  gap: 17.2px;
  z-index: 1;
}
.group-icon2,
.group-parent {
  overflow: hidden;
  max-width: 100%;
}
.group-icon2 {
  position: absolute;
  height: 18.4%;
  width: 13.85%;
  top: 61.15%;
  right: 82.16%;
  bottom: 20.45%;
  left: 3.99%;
  max-height: 100%;
}
.group-parent {
  height: 466.4px;
  flex: 1;
  position: relative;
  background-color: #fffffe;
}
.landing-page-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 48px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 32.2px;
  color: #202122;
  font-family: Roboto;
}
@media screen and (max-width: 900px) {
  .barang-bekas,
  .berkontribusi-pada-lingkungan-container,
  .berkualitas,
  .dan,
  .menghemat-biaya-dengan-container {
    font-size: 26px;
    line-height: 34px;
  }
}
@media screen and (max-width: 675px) {
  .menghemat-biaya-dengan-parent {
    flex-wrap: wrap;
  }
  .group-parent {
    height: auto;
    min-height: 466.3999999999997;
  }
  .landing-page-inner {
    padding-top: 31px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .barang-bekas,
  .berkontribusi-pada-lingkungan-container,
  .berkualitas,
  .dan,
  .menghemat-biaya-dengan-container {
    font-size: 19px;
    line-height: 26px;
  }
}

/* KATEGORI LANDING PAGE */
.landing-page-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 48px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 32.2px;
  color: #202122;
  font-family: Roboto;
}
.furniture,
.kategori {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 32px;
  font-family: inherit;
}
.kategori {
  font-weight: 700;
  display: inline-block;
  min-width: 117px;
}
.furniture {
  align-self: stretch;
  font-weight: 500;
}
.furniture-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-div,
.frame-wrapper {
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper {
  height: 80px;
  width: 430px;
  border-radius: 10px;
  background: linear-gradient(88.13deg, #99216b, #d12492);
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 10px;
  box-sizing: border-box;
  max-width: 100%;
}
.pakaian {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}
.pakaian-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-wrapper1,
.frame-wrapper2 {
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper1 {
  height: 80px;
  width: 430px;
  border-radius: 10px;
  background: linear-gradient(88.13deg, #ea8e19, #ffc103);
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 10px;
  box-sizing: border-box;
  max-width: 100%;
}
.buku {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}
.buku-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-wrapper3,
.frame-wrapper4 {
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper3 {
  height: 80px;
  width: 430px;
  border-radius: 10px;
  background: linear-gradient(88.13deg, #098b46, #3db147);
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 10px;
  box-sizing: border-box;
  max-width: 100%;
}
.sepatu1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}
.sepatu-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-wrapper5,
.frame-wrapper6 {
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper5 {
  width: 430px;
  border-radius: 10px;
  background: linear-gradient(88.13deg, #a55d00, #eb9019);
  align-items: flex-start;
  padding: 8px 10px 40px;
  box-sizing: border-box;
  max-width: 100%;
}
.aksesoris {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}
.aksesoris-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-wrapper7,
.frame-wrapper8 {
  width: 167px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper7 {
  width: 430px;
  border-radius: 10px;
  background: linear-gradient(88.13deg, #0673a8, #19a8a8);
  align-items: flex-start;
  padding: 8px 10px 40px;
  box-sizing: border-box;
  max-width: 100%;
}
.alat-musik {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
}
.alat-musik-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-container,
.frame-wrapper10,
.frame-wrapper9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper10 {
  width: 167px;
  align-items: center;
}
.frame-container,
.frame-wrapper9 {
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper9 {
  width: 430px;
  border-radius: 10px;
  background: linear-gradient(88.13deg, #99216b, #d12492);
  padding: 8px 10px 40px;
  box-sizing: border-box;
}
.frame-container {
  align-self: stretch;
  background-color: #fdfdff;
  flex-wrap: wrap;
  gap: 24px 25px;
  min-height: 184px;
  font-size: 24px;
  color: #fdfdff;
}
.kategori-parent,
.landing-page-child {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.kategori-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.landing-page-child {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 48px;
  box-sizing: border-box;
  text-align: left;
  font-size: 30px;
  color: #202122;
  font-family: Roboto;
}


/* Catalog Terbaru */
.frame-container,
.frame-wrapper10,
.frame-wrapper9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper10 {
  width: 167px;
  align-items: center;
}
.frame-container,
.frame-wrapper9 {
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper9 {
  width: 430px;
  border-radius: 10px;
  background: linear-gradient(88.13deg, #99216b, #d12492);
  padding: 8px 10px 40px;
  box-sizing: border-box;
}
.frame-container {
  align-self: stretch;
  background-color: #fdfdff;
  flex-wrap: wrap;
  gap: 24px 25px;
  min-height: 184px;
  font-size: 24px;
  color: #fdfdff;
}
.kategori-parent,
.landing-page-child {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.kategori-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.landing-page-child {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 48px;
  box-sizing: border-box;
  text-align: left;
  font-size: 30px;
  color: #202122;
  font-family: Roboto;
}
.terbaru {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 40px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 106px;
}
.card-child {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-2024,
.produk {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-2024 {
  min-width: 60px;
}
.data-aggregator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu,
.rp-570000 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-570000 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.data-aggregator-parent,
.value-filter {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.value-filter {
  font-size: 14px;
}
.data-aggregator-parent {
  gap: 4px;
}
.card,
.card-item {
  border-radius: 10px;
}
.card {
  width: 230px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 13px;
  gap: 10px;
}
.card-item {
  width: 200px;
  height: 200px;
  position: relative;
  object-fit: cover;
}
.mei-20241,
.produk1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20241 {
  min-width: 60px;
}
.produk-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu1,
.rp-5700001 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700001 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-parent {
  align-self: stretch;
  font-size: 14px;
}
.card1,
.frame-parent1,
.lemari-2-pintu-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  gap: 4px;
}
.card1 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.card-inner {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20242,
.produk2 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20242 {
  min-width: 60px;
}
.produk-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu2,
.rp-5700002 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700002 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-group {
  align-self: stretch;
  font-size: 14px;
}
.card2,
.frame-parent2,
.lemari-2-pintu-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  gap: 4px;
}
.card2 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.rectangle-icon {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20243,
.produk3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20243 {
  min-width: 60px;
}
.produk-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu3,
.rp-5700003 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700003 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-container {
  align-self: stretch;
  font-size: 14px;
}
.card3,
.frame-parent3,
.lemari-2-pintu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  align-self: stretch;
  gap: 4px;
}
.card3 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.card-child1 {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20244,
.produk4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20244 {
  min-width: 60px;
}
.produk-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu4,
.rp-5700004 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700004 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-parent1 {
  align-self: stretch;
  font-size: 14px;
}
.card4,
.frame-parent4,
.lemari-2-pintu-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent4 {
  align-self: stretch;
  gap: 4px;
}
.card4 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.card-child2 {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20245,
.produk5 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20245 {
  min-width: 60px;
}
.produk-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu5,
.rp-5700005 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700005 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-parent2 {
  align-self: stretch;
  font-size: 14px;
}
.card5,
.frame-parent5,
.lemari-2-pintu-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent5 {
  align-self: stretch;
  gap: 4px;
}
.card5 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.card-child3 {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20246,
.produk6 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20246 {
  min-width: 60px;
}
.produk-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu6,
.rp-5700006 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700006 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-parent3 {
  align-self: stretch;
  font-size: 14px;
}
.card6,
.frame-parent6,
.lemari-2-pintu-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  align-self: stretch;
  gap: 4px;
}
.card6 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.card-child4 {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20247,
.produk7 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20247 {
  min-width: 60px;
}
.produk-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu7,
.rp-5700007 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700007 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-parent4 {
  align-self: stretch;
  font-size: 14px;
}
.card7,
.frame-parent7,
.lemari-2-pintu-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  align-self: stretch;
  gap: 4px;
}
.card7 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.card-child5 {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20248,
.produk8 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20248 {
  min-width: 60px;
}
.produk-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu8,
.rp-5700008 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.rp-5700008 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.lemari-2-pintu-parent5 {
  align-self: stretch;
  font-size: 14px;
}
.card8,
.frame-parent8,
.lemari-2-pintu-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent8 {
  align-self: stretch;
  gap: 4px;
}
.card8 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11px 13px;
  gap: 10px;
}
.card-child6 {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.mei-20249,
.produk9 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 38px;
}
.mei-20249 {
  min-width: 60px;
}
.produk-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.lemari-2-pintu9,
.rp-5700009 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  white-space: pre-wrap;
}
.rp-5700009 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  color: #3e8c55;
  white-space: nowrap;
}
.frame-parent9,
.lemari-2-pintu-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.lemari-2-pintu-parent6 {
  font-size: 14px;
}
.frame-parent9 {
  gap: 4px;
}
.card9 {
  width: 230px;
  border-radius: 10px;
  background-color: #fdfdff;
  border: 1.8px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 11px 13px;
  gap: 10px;
}
.card-parent,
.card9,
.terbaru-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 47px;
  min-height: 648px;
  font-size: 12px;
}
.terbaru-parent {
  flex: 1;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}
.frame-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 48px 49px;
  text-align: left;
  font-size: 30px;
  color: #202122;
  font-family: Roboto;
}

/* FOOTER */
.divider,
.divider-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.divider {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--neutral-300);
}
.divider-wrapper {
  height: 11.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs-2);
}
.logo-icon2 {
  width: 106.2px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.copyright {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.social-media-icon {
  position: absolute;
  height: 189.47%;
  width: 327.27%;
  top: -45.26%;
  right: -116.36%;
  bottom: -44.21%;
  left: -110.91%;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-colors-color-2);
  display: none;
}
.facebook-icon {
  position: absolute;
  height: 94.74%;
  width: 89.09%;
  top: 2.11%;
  right: 2.73%;
  bottom: 3.16%;
  left: 8.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media-icon-squarefaceb {
  height: 19px;
  width: 11px;
  position: relative;
}
.social-media-icon1 {
  position: absolute;
  height: 240%;
  width: 189.47%;
  top: -70.67%;
  right: -46.32%;
  bottom: -69.33%;
  left: -43.16%;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-colors-color-2);
  display: none;
}
.twitter-icon {
  position: absolute;
  height: 97.33%;
  width: 94.74%;
  top: 0.67%;
  right: 1.05%;
  bottom: 2%;
  left: 4.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media-icon-squaretwitt {
  width: 19px;
  height: 15px;
  position: relative;
}
.social-media-icon-squaretwitt-wrapper {
  width: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.social-media-icon-squareinsta {
  height: 19px;
  width: 19px;
  position: relative;
  object-fit: cover;
  min-height: 19px;
}
.social-media-icon2 {
  position: absolute;
  top: -8.6px;
  left: -8.2px;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-colors-color-2);
  width: 36px;
  height: 36px;
  display: none;
}
.social-media-icon3 {
  position: absolute;
  top: -10.6px;
  left: -7.2px;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-colors-color-2);
  width: 36px;
  height: 36px;
  display: none;
}
.youtube-icon {
  position: absolute;
  top: 0.4px;
  left: 0.9px;
  width: 19.8px;
  height: 14px;
}
.social-media-icon-squareyoutu {
  width: 21px;
  height: 15px;
  position: relative;
}
.function-tester {
  width: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.path-modifier,
.social-media-icon-squarefaceb-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.path-modifier {
  width: 396px;
  flex-direction: column;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.footer-title {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 65px;
}
.ai-img-detector,
.catalog,
.goods-gift,
.privat-chat,
.updates {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
  display: inline-block;
}
.ai-img-detector {
  min-width: 114px;
  white-space: nowrap;
}
.catalog,
.goods-gift,
.privat-chat,
.updates {
  min-width: 57px;
}
.goods-gift,
.privat-chat,
.updates {
  min-width: 78px;
}
.privat-chat,
.updates {
  min-width: 80px;
}
.updates {
  min-width: 61px;
}
.tree-splitter,
.value-space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.value-space {
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--body-medium-detail-size);
  color: var(--color-neutral-color-5);
}
.tree-splitter {
  gap: var(--gap-21xl);
  min-width: 114px;
}
.footer-title1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 132%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 110px;
}
.line-roundedemail-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-item {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
  white-space: nowrap;
}
.line-roundedemail-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.line-roundedphone-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-item1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 132%;
  display: inline-block;
  min-width: 126px;
}
.line-roundedphone-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.spacer {
  position: absolute;
  top: 0;
  left: 1.6px;
  background-color: var(--neutral-100);
  width: 16.7px;
  height: 10.5px;
  opacity: 0;
}
.line-roundedmark-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  z-index: 1;
}
.spacer-icon-wrapper {
  height: 22px;
  width: 20px;
  position: relative;
}
.footer-description {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 132%;
}
.spacer-icon-wrapper-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
}
.footer-title-parent,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  gap: var(--gap-2xl);
  text-align: center;
  font-size: var(--body-medium-detail-size);
  color: var(--color-neutral-color-5);
}
.footer-title-parent {
  flex: 1;
  gap: var(--gap-19xl);
  min-width: 152px;
  font-size: var(--body-text-medium-normal-title-card-size);
}
.path-modifier-parent,
.tree-splitter-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.tree-splitter-parent {
  width: 421px;
  justify-content: flex-start;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--font-neutral);
}
.path-modifier-parent {
  width: 1248px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.string-standardizer,
.value-normalizer {
  align-self: stretch;
  box-sizing: border-box;
}
.value-normalizer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-7xl);
  max-width: 100%;
}
.string-standardizer {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutral-400);
}
.footer-left {
  margin: 0;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 400;
}
.all-rights-reserved {
  color: var(--color-neutral-color-5);
}
.privacy-policy,
.terms-and-conditions {
  color: var(--color-gray-200);
}
.footer-right {
  margin: 0;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 400;
  text-align: right;
  display: inline-block;
  max-width: 100%;
  color: var(--color-slategray-200);
}
.pattern-recognizer,
.tree-builder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.tree-builder {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.pattern-recognizer {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs-1) 0 var(--padding-3xs);
  box-sizing: border-box;
}
.string-standardizer-parent {
  width: 1241px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl-1);
  max-width: 100%;
}
.footer-v1,
.footer-v1-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-neutral-color-5);
}
.footer-v1 {
  background-color: var(--neutral-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xl-1);
  gap: var(--gap-89xl-8);
  text-align: justify;
  font-size: var(--body-extrasmall-notif-info-size);
  color: var(--color-neutral-color-6);
  font-family: var(--body-medium-detail);
}
@media screen and (max-width: 900px) {
  .path-modifier-parent,
  .tree-builder {
    flex-wrap: wrap;
  }
  .footer-v1 {
    gap: var(--gap-35xl);
  }
}
@media screen and (max-width: 450px) {
  .tree-splitter {
    flex: 1;
  }
  .footer-title1 {
    font-size: var(--body-medium-detail-size);
    line-height: 21px;
  }
  .tree-splitter-parent {
    flex-wrap: wrap;
    gap: var(--gap-17xl);
  }
  .footer-v1 {
    gap: var(--gap-8xl);
  }
} 
